<h3>{{ 'betterpayment.invoice-instructions.title' | trans }}</h3>

<div>
    <label><b>{{ 'betterpayment.invoice-instructions.iban' | trans }}</b></label> {{ page.extensions.betterpayment.iban }}
    <br>
    <label><b>{{ 'betterpayment.invoice-instructions.bic' | trans }}</b></label> {{ page.extensions.betterpayment.bic }}
    <br>
    <label><b>{{ 'betterpayment.invoice-instructions.reference' | trans }}</b></label> {{ page.order.orderNumber }}
    <p>{{ 'betterpayment.invoice-instructions.description' | trans }}</p>
</div>