<h3>{{ 'betterpayment.sepa-direct-debit.title' | trans }}</h3>

<input hidden name="betterpayment_account_holder" value="{{ context.customer.firstName ~ ' ' ~ context.customer.lastName }}" form="confirmOrderForm">
<input hidden name="betterpayment_sepa_mandate" value="{{ page.extensions.betterpayment.mandateReference }}" form="confirmOrderForm">

<div class="form-group">
    <label for="betterpayment_iban">{{ 'betterpayment.sepa-direct-debit.iban' | trans }}<span class="text-danger">*</span></label>
    <input type="text" id="betterpayment_iban" name="betterpayment_iban" class="form-control" form="confirmOrderForm" required>
    <small class="form-text text-muted">{{ 'betterpayment.sepa-direct-debit.ibanHelpText' | trans }}</small>
</div>
<div class="form-group">
    <label for="betterpayment_bic">{{ 'betterpayment.sepa-direct-debit.bic' | trans }}</label>
    <input type="text" id="betterpayment_bic" name="betterpayment_bic" class="form-control" form="confirmOrderForm">
    <small class="form-text text-muted">{{ 'betterpayment.sepa-direct-debit.bicHelpText' | trans }}</small>
</div>

<div>
    <label><b>{{ 'betterpayment.sepa-direct-debit.customerName' | trans }}</b></label> {{ context.customer.firstName ~ ' ' ~ context.customer.lastName }}
    <br>
    <label><b>{{ 'betterpayment.sepa-direct-debit.creditorId' | trans }}</b></label> {{ page.extensions.betterpayment.creditorID }}
    <br>
    <label><b>{{ 'betterpayment.sepa-direct-debit.companyName' | trans }}</b></label> {{ page.extensions.betterpayment.companyName }}
    <br>
    <label><b>{{ 'betterpayment.sepa-direct-debit.mandateReference' | trans }}</b></label> {{ page.extensions.betterpayment.mandateReference }}
    <p>{{ 'betterpayment.sepa-direct-debit.description' | trans }}</p>
    <div>
        <input type="checkbox" id="agreement" form="confirmOrderForm" required>
        <label for="agreement">{{ 'betterpayment.sepa-direct-debit.agreementLabel' | trans }}<span class="text-danger">*</span></label>
    </div>
</div>

<br>
<p class="text-muted">{{ 'betterpayment.sepa-direct-debit.requiredLabel' | trans }}<span class="text-danger">*</span></p>