{% sw_extends '@Storefront/storefront/component/account/register.html.twig' %}

{% block component_account_register_personal_address_fields %}
    {{ parent() }}

    <div class="form-row">
        <div class="form-group col-md-3 col-sm-6">
            <label for="better_payment_customer_gender">{{ 'betterpayment.register.labelGender' | trans }}</label>
            <select name="better_payment_customer_gender" id="better_payment_customer_gender" class="custom-select" required>
                <option disabled selected value="">{{ 'betterpayment.register.selectGender' | trans }}</option>
                <option value="m">{{ 'betterpayment.register.male' | trans }}</option>
                <option value="f">{{ 'betterpayment.register.female' | trans }}</option>
                <option value="d">{{ 'betterpayment.register.diverse' | trans }}</option>
            </select>
        </div>
    </div>
{% endblock %}